# Story LLM
STORY_API_KEY=請在這裡填入你的Google金鑰
STORY_BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai/
STORY_MODEL=gemini-2.5-flash

# Prompt LLM
PROMPT_API_KEY=請在這裡填入你的Google金鑰
PROMPT_BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai/
PROMPT_MODEL=gemini-2.5-flash

# HuggingFace
HF_TOKEN=請在這裡填入你的HF金鑰

# SDXL
SD_MODEL=stabilityai/stable-diffusion-xl-base-1.0
